[Desktop Entry]
Name=Sublime Text
GenericName=Sublime Text Editor
Comment=Edit text files
Exec=sublime %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/home/hugo/install/Sublime Text 2/Icon/256x256/sublime_text.png
Categories=TextEditor;IDE;Development
