[Desktop Entry]
Name=Sublime Text
GenericName=Sublime Text Editor
Comment=Edit text files
Exec=sublime %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/usr/share/pixmaps/sublime_text.png
Categories=GNOME;GTK;Utility;TextEditor;